.searchResultsContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: url(https://png.pngtree.com/thumb_back/fw800/background/20230720/pngtree-empty-screen-in-a-3d-rendered-cinema-hall-image_3715653.jpg)
    center/cover;
  background-attachment: fixed;
}
